# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
terraform.tfstate.d/

# Azure CLI e temporários
.azure/
az_command_history.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.egg-info/

# Docker
.docker/

# OS - macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/

test_images